/*会社情報テーマ*/
@mixin cThema {
  width: 50%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  color: white;
  h1 {
    font-size: 20px;
    padding: 15px;
    background-color: rgba( 0, 0, 0, 0.55);
    margin-bottom: 10px;
    font-family: YuMincho, "游明朝", serif;
  }
  h2 {
    font-size: 20px;
    padding: 8px;
    margin-bottom: 10px;
    background-color: rgba( 0, 0, 0, 0.55);
    font-family: YuMincho, "游明朝", serif;
  }
  h3 {
    padding: 8px;
    background-color: rgba( 0, 0, 0, 0.55);
    font-family: YuMincho, "游明朝", serif;
  }
}
